body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #dfdcd8cc;
  text-align: center;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #f79f1c;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 30px;
}
